/* 
    General Styles
*/
.clickable {
    cursor: pointer
}
.icon-hover:hover { 
    color: white;
    background-color: black;
    transition: color 0.5s ease-in-out; 
    transition: background-color 0.5s ease-in-out; 
}